package rules

import (
	"github.com/terraform-linters/tflint-plugin-sdk/tflint"
)

// Rules returns all generated rules
func Rules() []tflint.Rule {
	return []tflint.Rule{
{{ range .RuleNameCCList }}		New{{ . }}(),
{{ end }}	}
}
