# {{ .RuleName }}

- **Resource:** `{{ .ResourceType }}`
- **Attribute:** {{ if .BlockType }}`{{ .BlockType }}.{{ .AttributeName }}`{{ else }}`{{ .AttributeName }}`{{ end }}
- **Link:** {{ .ReferenceURL }}

## Constraints
{{- if .SetMinLength }}
- Min length: **{{ .MinLength }}**
{{- end }}
{{- if .SetMaxLength }}
- Max length: **{{ .MaxLength }}**
{{- end }}
{{- if .Pattern }}
- Pattern: ``{{ .Pattern }}``
{{- end }}
{{- if .Enum }}
- Enum: {{ range $i, $v := .Enum }}{{ if $i }}, {{ end }}``{{ $v }}``{{ end }}
{{- end }}
{{- if .Format }}
- Format: **{{ .Format }}**
{{- end }}
{{- if .ReadOnly }}
- Read-only: **true**
{{- end }}
{{- if .WarnOnExceed }}
- Warn-on-exceed: **true**
{{- end }}